@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-industrial: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

body{
    font-style: var(--font-inter);
    font-weight: var(--font-weight-medium);
}
.burger{
    width: 40px;
    height: 40px;
    /* box-shadow: 0px 0px 2px; */
    padding: 2px;
    /* border-radius: 2px; */
}
.burger span{
    width: 80%;
    height: 2px;
    display: block;
    margin:20% auto ;
    background-color: #252525;
    transition-duration: 200ms;
    transition-delay: 75ms;
    border-radius:3px;
}

.burger.active span:nth-child(1){
    transform: rotate(-45deg) translateY(8px) translateX(-5px);

}
.burger.active span:nth-child(2){
    width: 0;
}
.burger.active span:nth-child(3){
    transform: rotate(45deg) translateY(-8px) translateX(-5px);

    
}

.dropdown{
    transition-duration: 200ms;
    transition-delay: 75ms;
}

.dropdown.open{

    transform: rotate(0.5turn);
}